{% extends "base.html" %}
{% block content %}
<h2>Dashboard</h2>
<a class="btn btn-success mb-3" href="{{ url_for('create_policy') }}">Create New Policy</a>
<a class="btn btn-secondary mb-3" href="{{ url_for('risk_register') }}">Risk Register</a>
{% if current_user.is_authenticated and current_user.role == 'admin' %}
    <a href="{{ url_for('audit_logs') }}" class="btn btn-secondary mb-3">View Audit Logs</a>
{% endif %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISO Section</th>
            <th>NIST Category</th>
            <th>Created By</th>
            <th>Date</th>
            <th>Actions</th>  <!-- New column for buttons -->
        </tr>
    </thead>
    <tbody>
        {% for policy in policies %}
        <tr>
            <td>{{ policy.title }}</td>
            <td>{{ policy.iso_section }}</td>
            <td>{{ policy.nist_category }}</td>
            <td>{{ policy.created_by }}</td>
            <td>{{ policy.timestamp.strftime('%Y-%m-%d') }}</td>
            <td>
                
                <form action="{{ url_for('delete_policy', policy_id=policy.id) }}" method="POST" style="display:inline;" 
                      onsubmit="return confirm('Are you sure you want to delete this policy?');">

                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
